<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{% if page.title %}{{ page.title }} · {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{{ page.description | default: site.description }}" />
{% assign css_version = site.github.build_revision %}
{% unless css_version %}
  {% assign css_version = site.time | date: '%s' %}
{% endunless %}
<link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | relative_url }}?v={{ css_version }}" />
{% seo %}
